# {{ p.name }}
{% if "working.jpg" in p.files %} ![](working_600.jpg) 
{% endif %}
{{ p.description }}  
* oomp_key: {{ p.oomp_key }} 
* short_code: {{ p.short_code }}
* md5_6: {{ p.md5_6 }}  
* github_link: {{ p.github_link }}  
## naming details
* classification -- {{p.classification}}
* type -- {{p.type}}
* size -- {{ p.size }}
* color -- {{ p.color }}
* description_main -- {{ p.description_main }}
* description_extra -- {{ p.description_extra }}
* manucaturer -- {{ p.manufacturer }}
* part_number -- {{ p.part_number }}
{% if p.pins %}## pinout
![](working_pinout_600.png)  
List of Pins:
{% for pin_name, pin_info in p.pins.items() %}
* {{ pin_info.number }} : {{ pin_info.name }}{% endfor %}{% endif %}
{% if p.distributors %}## distributors
{% for distributor in p.distributors %}* [{{ distributor.name }}-{{ distributor.part_number }}]({{ distributor.link }})  
{% endfor %}{% endif %}
{% if p.manufacturers %}## manufacturers
{% for manufacturer in p.manufacturers %}* [{{ manufacturer.name }}-{{ manufacturer.part_number }}]({{ manufacturer.link }})  
{% endfor %}{% endif %}
{% if p.symbol %}## symbol
{% for foot in p.symbol%}
![](symbol/0/working/working_600.png)  
oomp_key: {{ foot.oomp_key }}  
link: {{ foot.link }}/working  
{% endfor %}{% endif %}
{% if p.footprint %}## footprint
{% for foot in p.footprint%}
![](footprint/0/working/working_600.png)  
oomp_key: {{ foot.oomp_key }}  
link: {{ foot.link }}/working  
{% endfor %}{% endif %}
## full_summary
{{ p.flat_dict }}